


        <div class="header">
        	<nav class="navbar  fixed-top navbar-site navbar-light bg-light navbar-expand-md"
        		 role="navigation">
        		<div class="container">

                <div class="navbar-identity">


        			<a href="index.html" class="navbar-brand logo logo-title">
        			<span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo "></i>
        			</span>BOOT<span>CLASSIFIED </span> </a>


        			<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
        					type="button">

        				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>


        			</button>


        			<button
        					class="flag-menu country-flag d-block d-md-none btn btn-secondary hidden pull-right"
        					href="#select-country" data-toggle="modal">	<span class="flag-icon flag-icon-us"></span>  <span class="caret"></span>
        			</button>

                </div>



        			<div class="navbar-collapse collapse">
        				<ul class="nav navbar-nav navbar-left">
        					<li class="flag-menu country-flag tooltipHere hidden-xs nav-item" data-toggle="tooltip"
        						data-placement="bottom" title="Select Country">	<a href="#select-country" data-toggle="modal" class="nav-link">

        						<span class="flag-icon flag-icon-us"></span> <span class="caret"></span>

        					</a>
        					</li>
        				</ul>
        				<ul class="nav navbar-nav ml-auto navbar-right">
        					<li class="nav-item"><a href="category.html" class="nav-link"><i class="icon-th-thumb"></i> All Ads</a>
        					</li>
        					<li class="dropdown no-arrow nav-item"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

        						<span>Jhon Doe</span> <i class="icon-user fa"></i> <i class=" icon-down-open-big fa"></i></a>
        						<ul
        								class="dropdown-menu user-menu dropdown-menu-right">
        							<li class="active dropdown-item"><a href="account-home.html"><i class="icon-home"></i> Personal Home

        							</a>
        							</li>
        							<li class="dropdown-item"><a href="account-myads.html"><i class="icon-th-thumb"></i> My ads </a>
        							</li>
        							<li class="dropdown-item"><a href="account-favourite-ads.html"><i class="icon-heart"></i> Favourite ads </a>
        							</li>
        							<li class="dropdown-item"><a href="account-saved-search.html"><i class="icon-star-circled"></i> Saved search

        							</a>
        							</li>
        							<li class="dropdown-item"><a href="account-archived-ads.html"><i class="icon-folder-close"></i> Archived ads

        							</a>
        							</li>
        							<li class="dropdown-item"><a href="account-pending-approval-ads.html"><i class="icon-hourglass"></i> Pending

        								approval </a>
        							</li>
        							<li class="dropdown-item"><a href="statements.html"><i class=" icon-money "></i> Payment history </a>
        							</li>
        							<li class="dropdown-item"><a href="login.html"><i class=" icon-logout "></i> Log out </a>
        							</li>
        						</ul>
        					</li>
        					<li class="postadd nav-item"><a class="btn btn-block   btn-border btn-post btn-danger nav-link" href="post-ads.html">Post Free Add</a>
        					</li>
        					<li class="dropdown  lang-menu nav-item">
        						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        							<span class="lang-title">EN</span>

        						</button>
        						<ul class="dropdown-menu dropdown-menu-right user-menu" role="menu">
        							<li class="dropdown-item"><a class="active">

        								<span class="lang-name">English</span></a>
        							</li>
        							<li class="dropdown-item"><a><span class="lang-name">Dutch</span></a>
        							</li>
        							<li class="dropdown-item"><a><span class="lang-name">fran&#xE7;ais </span></a>
        							</li>
        							<li class="dropdown-item"><a><span class="lang-name">Deutsch</span></a>
        							</li>
        							<li class="dropdown-item"><a> <span class="lang-name">Arabic</span></a>
        							</li>
        							<li class="dropdown-item"><a><span class="lang-name">Spanish</span></a>
        							</li>
        						</ul>
        					</li>
        				</ul>
        			</div>
        			<!--/.nav-collapse -->
        		</div>
        		<!-- /.container-fluid -->
        	</nav>
        </div>
        <!-- /.header -->

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <nav aria-label="breadcrumb" role="navigation" class="pull-left">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="icon-home fa"></i></a></li>
                            <li class="breadcrumb-item"><a href="category.html">All Ads</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Electronics</li>
                        </ol>
                    </nav>


                    <div class="pull-right backtolist"><a href="sub-category-sub-location.html"> <i
                            class="fa fa-angle-double-left"></i> Back to Results</a></div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 page-content col-thin-right">
                    <div class="inner inner-box ads-details-wrapper">
                        <h2> Xperia™ C3 Dual available
                            <small class="label label-default adlistingtype">Company ad</small>
                        </h2>
                        <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span
                                class="category">Electronics </span>- <span class="item-location"><i
                                class="fa fa-map-marker"></i> New York </span> </span>

                        <div class="ads-image ads-img-v2">
                            <div class="img-slider-box">
                                <div class="slider-left">
                                    <ul class="bxslider">
                                        <li><img src="{{ imageFolder }}item/tp-big/Image00014.jpg" alt="img"/></li>
                                        <li><img src="{{ imageFolder }}item/tp-big/Image00015.jpg" alt="img"/></li>
                                        <li><img src="{{ imageFolder }}item/tp-big/Image00013.jpg" alt="img"/></li>
                                    </ul>
                                </div>

                                <div id="bx-pager" class="scrollbar">
                                    <a class="thumb-item-link" data-slide-index="0" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00014.jpg" alt="img"/></a>
                                    <a class="thumb-item-link" data-slide-index="1" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00015.jpg" alt="img"/></a>
                                    <a class="thumb-item-link" data-slide-index="2" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00013.jpg" alt="img"/></a>


                                    <!-- more than 5 image with scroll bar demo -->
                                    <a class="thumb-item-link" data-slide-index="0" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00014.jpg" alt="img"/></a>
                                    <a class="thumb-item-link" data-slide-index="1" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00015.jpg" alt="img"/></a>
                                    <a class="thumb-item-link" data-slide-index="2" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00013.jpg" alt="img"/></a>

                                    <a class="thumb-item-link" data-slide-index="0" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00014.jpg" alt="img"/></a>
                                    <a class="thumb-item-link" data-slide-index="1" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00015.jpg" alt="img"/></a>
                                    <a class="thumb-item-link" data-slide-index="2" href=""><img
                                            src="{{ imageFolder }}item/tp/Image00013.jpg" alt="img"/></a>
                                </div>
                            </div>
                            <!--ads-image-->
                        </div>


                        <div class="Ads-Details">
                            <h5 class="list-title"><strong>Ads Detsils</strong></h5>

                            <div class="row">
                                <div class="ads-details-info col-md-8">
                                    <p>Sony Xperia C3 Dual smartphone with 5.50-inch 720x1280 display powered by 1.2GHz
                                        processor alongside 1GB RAM and 8-megapixel rear camera. </p>
                                    <h4>Camera and video</h4>
                                    <ul class="list-circle">
                                        <li>5 MP Front-facing camera (720p)</li>
                                        <li>Front flash LED</li>
                                        <li>Wide view front camera</li>
                                        <li>8 MP camera with auto focus</li>
                                        <li>HD video recording 1080 p</li>
                                        <li>Sony Exmor RS for mobile image sensor</li>
                                        <li>HDR (High Dynamic Range) for photos and videos</li>
                                        <li>Pulsed LED flash</li>
                                        <li>16x digital zoom</li>
                                        <li>Superior Auto – automatic scene selection</li>
                                        <li>Geotagging – add location info to your photos</li>
                                        <li>Object tracking – lock focus on a specific object</li>
                                        <li>Red-eye reduction</li>
                                        <li>Image capture, supported file format: JPEG</li>
                                        <li>Image playback, supported file formats: BMP, GIF, JPEG, PNG; WebP</li>
                                        <li>Video capture, supported file formats: 3GPP, MP4</li>
                                        <li>Video playback, supported file formats: 3GPP, MP4, M4V, AvI, XVID, WEBM</li>
                                    </ul>
                                    <h4>Networks</h4>
                                    <ul>
                                        <li>GSM GPRS/EDGE (2G)</li>
                                        <li>UMTS HSPA (3G)</li>
                                        <li>LTE (4G)</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <aside class="panel panel-body panel-details">
                                        <ul>
                                            <li>
                                                <p class=" no-margin "><strong>Price:</strong> $ 2,45</p>
                                            </li>
                                            <li>
                                                <p class="no-margin"><strong>Type:</strong> Mobile Mobiles,For sale</p>
                                            </li>
                                            <li>
                                                <p class="no-margin"><strong>Location:</strong> New York </p>
                                            </li>
                                            <li>
                                                <p class=" no-margin "><strong>Condition:</strong> New</p>
                                            </li>
                                            <li>
                                                <p class="no-margin"><strong>Brand:</strong> Sony</p>
                                            </li>
                                        </ul>
                                    </aside>
                                    <div class="ads-action">
                                        <ul class="list-border">
                                            <li><a href="#"> <i class=" fa fa-user"></i> More ads by User </a></li>
                                            <li><a href="#"> <i class=" fa fa-heart"></i> Save ad </a></li>
                                            <li><a href="#"> <i class="fa fa-share-alt"></i> Share ad </a></li>
                                            <li><a href="#reportAdvertiser" data-toggle="modal"> <i
                                                    class="fa icon-info-circled-alt"></i> Report abuse </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="content-footer text-left"><a class="btn  btn-default" data-toggle="modal"
                                                                     href="#contactAdvertiser"><i
                                    class=" icon-mail-2"></i> Send a message </a> <a class="btn  btn-info"><i
                                    class=" icon-phone-1"></i> 01680 531 352 </a></div>
                        </div>
                    </div>
                    <!--/.ads-details-wrapper-->

                </div>
                <!--/.page-content-->

                <div class="col-md-3  page-sidebar-right">
                    <aside>
                        <div class="card sidebar-card card-contact-seller">
                            <div class="card-header">Contact Seller</div>
                            <div class="card-content user-info">
                                <div class="card-body text-center">
                                    <div class="seller-info">
                                        <h3 class="no-margin">Richard Aki</h3>

                                        <p>Location: <strong>New York</strong></p>

                                        <p> Joined: <strong>12 Mar 2009</strong></p>
                                    </div>
                                    <div class="user-ads-action"><a href="#contactAdvertiser" data-toggle="modal"
                                                                    class="btn   btn-default btn-block"><i
                                            class=" icon-mail-2"></i> Send a message </a> <a
                                            class="btn  btn-info btn-block"><i class=" icon-phone-1"></i> 01680 531 352
                                    </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="card sidebar-card">
                            <div class="card-header">Safety Tips for Buyers</div>
                            <div class="card-content">
                                <div class="card-body text-left">
                                    <ul class="list-check">
                                        <li> Meet seller at a public place</li>
                                        <li> Check the item before you buy</li>
                                        <li> Pay only after collecting the item</li>
                                    </ul>
                                    <p><a class="pull-right" href="#"> Know more <i
                                            class="fa fa-angle-double-right"></i> </a></p>
                                </div>
                            </div>
                        </div>
                        <!--/.categories-list-->
                    </aside>
                </div>
                <!--/.page-side-bar-->
            </div>
        </div>
    </div>
    <!-- /.main-container -->


    <footer class="main-footer">
    	<div class="footer-content">
    		<div class="container">
    			<div class="row">

    				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
    					<div class="footer-col">
    						<h4 class="footer-title">About us</h4>
    						<ul class="list-unstyled footer-nav">
    							<li><a href="#">About Company</a></li>
    							<li><a href="#">For Business</a></li>
    							<li><a href="#">Our Partners</a></li>
    							<li><a href="#">Press Contact</a></li>
    							<li><a href="#">Careers</a></li>
    						</ul>
    					</div>
    				</div>

    				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
    					<div class="footer-col">
    						<h4 class="footer-title">Help & Contact</h4>
    						<ul class="list-unstyled footer-nav">
    							<li><a href="#">
    								Stay Safe Online
    							</a></li>
    							<li><a href="#">
    								How to Sell</a></li>
    							<li><a href="#">
    								How to Buy
    							</a></li>
    							<li><a href="#">Posting Rules
    							</a></li>

    							<li><a href="#">
    								Promote Your Ad
    							</a></li>

    						</ul>
    					</div>
    				</div>

    				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
    					<div class="footer-col">
    						<h4 class="footer-title">More From Us</h4>
    						<ul class="list-unstyled footer-nav">
    							<li><a href="faq.html">FAQ
    							</a></li>
    							<li><a href="blogs.html">Blog
    							</a></li>
    							<li><a href="#">
    								Popular Searches
    							</a></li>
    							<li><a href="#"> Site Map
    							</a></li> <li><a href="#"> Customer Reviews
    						</a></li>


    						</ul>
    					</div>
    				</div>
    				<div class=" col-xl-2 col-xl-2 col-md-2 col-6  ">
    					<div class="footer-col">
    						<h4 class="footer-title">Account</h4>
    						<ul class="list-unstyled footer-nav">
    							<li><a href="account-home.html"> Manage Account
    							</a></li>
    							<li><a href="login.html">Login
    							</a></li>
    							<li><a href="signup.html">Register
    							</a></li>
    							<li><a href="account-myads.html"> My ads
    							</a></li>
    							<li><a href="seller-profile.html"> Profile
    							</a></li>
    						</ul>
    					</div>
    				</div>
    				<div class=" col-xl-4 col-xl-4 col-md-4 col-12">
    					<div class="footer-col row">

    						<div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
    							<div class="mobile-app-content">
    								<h4 class="footer-title">Mobile Apps</h4>
    								<div class="row ">
    									<div class="col-6  ">
    										<a class="app-icon" target="_blank"  href="https://itunes.apple.com/">
    											<span class="hide-visually">iOS app</span>
    											<img src="images/site/app_store_badge.svg" alt="Available on the App Store">
    										</a>
    									</div>
    									<div class="col-6  ">
    										<a class="app-icon"  target="_blank" href="https://play.google.com/store/">
    											<span class="hide-visually">Android App</span>
    											<img src="images/site/google-play-badge.svg" alt="Available on the App Store">
    										</a>
    									</div>
    								</div>
    							</div>
    						</div>

    						<div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
    							<div class="hero-subscribe">
    								<h4 class="footer-title no-margin">Follow us on</h4>
    								<ul class="list-unstyled list-inline footer-nav social-list-footer social-list-color footer-nav-inline">
    									<li><a class="icon-color fb" title="Facebook" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-facebook"></i> </a></li>
    									<li><a class="icon-color tw" title="Twitter" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-twitter"></i> </a></li>
    									<li><a class="icon-color gp" title="Google+" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-google-plus"></i> </a></li>
    									<li><a class="icon-color lin" title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-linkedin"></i> </a></li>
    									<li><a class="icon-color pin" title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-pinterest-p"></i> </a></li>
    								</ul>
    							</div>

    						</div>
    					</div>
    				</div>
    				<div style="clear: both"></div>

    				<div class="col-xl-12">
    					<div class=" text-center paymanet-method-logo">

    						<img src="images/site/payment/master_card.png" alt="img">
    						<img alt="img" src="images/site/payment/visa_card.png">
    						<img alt="img" src="images/site/payment/paypal.png">
    						<img alt="img" src="images/site/payment/american_express_card.png"> <img alt="img" src="images/site/payment/discover_network_card.png">
    						<img alt="img" src="images/site/payment/google_wallet.png">
    					</div>

    					<div class="copy-info text-center">
    						&copy; 2017 BootClassified. All Rights Reserved.
    					</div>

    				</div>

    			</div>
    		</div>
    	</div>
    </footer>
  